# Backend
ORS_API_KEY=your_openrouteservice_api_key_here
GOOGLE_API_KEY=your_google_maps_api_key_here

# Frontend
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_access_token_here
NEXT_PUBLIC_API_URL=http://localhost:8000
